$bodyBg: #ffffff;
$themeTextColor: #434343;
$themeBgColor: #efefef;
$sidebarWidth: 240px;
$primaryColor: #ff5200;

@import "~bootstrap/scss/bootstrap";

* {
  outline: unset !important;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  background-color: $bodyBg;
}

.react-app {
  position: fixed;
  color: $themeTextColor;
  background-color: $themeBgColor;
  height: 100vh;
  width: 100vw;
  padding-left: $sidebarWidth; 
  overflow-x: hidden;
  overflow-y: auto;
  .app-content {
    padding: 56px 30px 50px;
    min-height: calc(100vh - 51px);  
    .page-title {
      font-size: 30px;
      font-weight: bold;
      color: $primaryColor;
      margin: 20px 0;
    }
    @media all and (max-width: 1400px) {
      padding: 56px 20px;  
    }
    @media all and (max-width: 1024px) {
      padding: 56px 16px 30px;  
    }
    .btn {
      border-radius: 25px;
      max-width: 100%;
      min-width: 100px;
      margin: 0 auto 16px;
    }
    .app-section {
      margin-bottom: 50px;
      .section-heading {
        font-size: 24px;
        margin-bottom: 20px;
        .heading-icon {
            width: 24px;
            margin-right: 5px;
            color: $primaryColor;
            svg,
            i,
            img {
                line-height: 24px;
            }
        }
      }
    }
    .seperator {
      &.s50 {
        height: 50px;
      }
      &.s40 {
        height: 40px;
      }
      &.s30 {
        height: 30px;
      }
      &.s20 {
        height: 20px;
      }
      &.s10 {
        height: 10px;
      }
      &.s5 {
        height: 5px;
      }
    }
  }
}