$bodyBg: #ffffff;
$themeTextColor: #434343;
$themeBgColor: #efefef;
$sidebarWidth: 240px;

@import "~bootstrap/scss/bootstrap";

* {
  outline: unset !important;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  background-color: $bodyBg;
}

.react-app {
  position: fixed;
  color: $themeTextColor;
  background-color: $themeBgColor;
  height: 100vh;
  width: 100vw;
  padding-left: $sidebarWidth; 
  overflow-x: hidden;
  overflow-y: auto;
  .app-content {
    padding: 50px 30px;  
    @media all and (max-width: 1400px) {
      padding: 50px 20px;  
    }
    @media all and (max-width: 1024px) {
      padding: 50px 16px 30px;  
    }
  }
}